* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

/*========================*/
body {
	position: relative;
}

.block {
	width: 300px;
	height: 400px;
	border: 2px solid #a2a2a2;
	padding: 20px 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -240px 0 0 -180px;
}