.row{
	margin: 60px auto;
}

.row h1{
	font-weight: 700;
	font-size: 36px;
}

.col-lg-2{
	display: inline-block;
	text-align: center;
}

.col-lg-12 img{
	display: block;
	width: auto;
	height: 140px;
	margin: -15px auto;
}

.col-lg-12 p{font-weight: 500;}
